* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* Your code goes here */

.outline {
  outline: 1px solid red;
}

.heading-underline {
  position: relative;
}

.card-title-fsize {
  font-size: 2.2rem;
}

.card-text-fsize {
  font-size: 1.23rem;
}

.services-button {
  background-image: url(../img/touch-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5rem;
}

.heading-underline::after {
  content: '';
  position: absolute;
  border-top: 3px solid #555;
  left: 20%;
  bottom: 0;
  width: 60%;
  height: 0;
}