* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* Your code goes here */
.header-wrapper {
  background: url('../img/header-bg.jpg') center/cover no-repeat fixed;
}

.navbar {
  padding-right: 12rem;
  padding-left: 12rem;
  background: url('../img/header-bg.jpg') center/cover no-repeat fixed;
}

.intro {
  height: 70vh;
  /* background: url("../img/header-bg.jpg")no-repeat center center;
  background-size: cover; */
}

.intro-title-fs {
  font-size: 4.4rem;
  font-weight: 700;
}

.intro-text-fs {
  font-size: 2.5rem;
}

.nav--text-fs {
  font-size: 1.4rem;
}

.outline {
  outline: 1px solid red;
}

.heading-underline {
  position: relative;
}

.card-title-fsize {
  font-size: 2.2rem;
}

.card-text-fsize {
  font-size: 1.23rem;
}

.services-button {
  background-image: url(../img/touch-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5rem;
}

.heading-underline::after {
  content: '';
  position: absolute;
  border-top: 3px solid #555;
  left: 20%;
  bottom: 0;
  width: 60%;
  height: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 22px;
  height: 60px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url('../img/slider-prev-arrow.png');
}

.carousel-control-next-icon {
  background-image: url('../img/slider-next-arrow.png');
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #62436f;
}

.carousel-indicators .active {
  background-color: #c0b4c5;
}

.references-card-body {
  padding: 1.5rem 4.2rem;
}

.references-title-fs {
  font-size: 2.2rem;
  font-weight: 700;
}

.references-text-fs {
  font-size: 1.2rem;
  font-weight: 300;
}

.ref-img-bg {
  position: relative;
}

.ref-img-bg::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
  background-image: url('../img/references-image-bg.png');
}

.footer {
  background: url(../img/footer-bg.jpg) center/cover no-repeat fixed;
}
